.customerContainer {
    display: flex;
    flex-direction: column;
}

.customerDataContainer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.25rem;
}

.customerName {
    font-size: 1.1rem;
}

.editText {
    font-size: 1.1rem;
    color: #212529;
}

.customerNickName {
    color: grey;
}

.customerDebt {
    color: #ff4136;
    font-size: 1.35rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
