.currentDebtContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px 4px #6c757d;
  border-radius: 15px;
}

.currentDebtText {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}

.debtAmount {
  font-size: 1.75rem;
  font-weight: bold;
  color: #dc3545;
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .currentDebtText {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .currentDebtContainer {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
  }
  .currentDebtText {
    margin-top: 1rem;
  }
}
