.customerData {
    display: flex;
}

.detailPersonIcon {
    width: 30vw;
    font-size: 7.5rem;
    margin-right: 1rem;
    color: #212529;
}

.personalDataContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 668px) {
    .detailPersonIcon {
        margin-right: 0.25rem;
    }
    .personalDataContainer {
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .personalDataContainer {
        text-align: center;
    }
    .detailPersonIcon {
        font-size: 10rem;
    }
}