.customerContainer {
    display: flex;
    flex-direction: column;
}

.customerDataContainer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.25rem;
}

.debtContainer {
    display: flex;
}

.customerName {
    font-size: 1.1rem;
}

.editText {
    font-size: 1.1rem;
    color: #212529;
}

.customerNickName {
    color: grey;
}

.customerDebtLink {
    text-decoration: none;
    color: #ff4136;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.customerDebtLink:hover{
    color: #a71911;
}