.customerDetailsContainer{
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.personalDataContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .personalDataContainer {
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .personalDataContainer {
        text-align: center;
    }
    .customerDetailsContainer {
        padding-left: 9vw;
    padding-right: 9vw;
    }
}

@media screen and (max-width: 359px) {
    .customerDetailsContainer{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}