.customerDetailsContainer{
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.detailsBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detailPersonIcon {
    font-size: 6rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    color: #212529;
}

.personalDataContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .personalDataContainer {
        justify-content: space-between;
    }
}

@media screen and (min-width: 767px) {
    .detailPersonIcon {
        font-size: 10rem;
    }
    .personalDataContainer {
        text-align: center;
    }
    .customerDetailsContainer {
        padding-left: 9vw;
    padding-right: 9vw;
    }
}

@media screen and (max-width: 359px) {
    .customerDetailsContainer{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .detailPersonIcon {
        font-size: 5rem;
    }
}